@font-face {
  font-family: 'Manrope';
  src: url(../assets/fonts/Manrope-Light.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url(../assets/fonts/Manrope-Bold.ttf) format('truetype');
  font-weight: bold;
}
