.wrapper {
  background-color: #fff;
  width: 80%;
  margin: {
    top: 20px;
    left: auto;
    right: auto;
    bottom: 0;
  }
  padding: 1.5em;
  box-sizing: border-box;
}

.balance {
  font-size: 2.5rem;
  font-weight: bold;
}
